.main-nav{
  width: 100%;
  margin-top: -2.5rem;
 
  display: grid; 
  grid-template-columns: 3rem 1fr 30fr;
}
.main-nav2{
  width: 100%;
  margin-top: -1rem;

  display: grid; 
  grid-template-columns: 3rem 1fr 0.4fr;

}
.menu-link2{
  grid-column: 3/4;
}
.menu-link2 ul{
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-link2 li{
  list-style: none;
  font-size: 1.2rem;
  
}
.menu-link2 ul li a{
  text-decoration: none;
  color: black;
  list-style: none;
  
}
.menu-link2 ul li:hover{
  transform: scale(1.1);
  transition: transform 0.12s ease-in; 
  text-decoration:overline;
  /* transition: 0.5s; */
}
.signhead{
  margin-bottom: 1rem;
}
.logo{
  display: flex;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}
.menu-link{
  grid-column: 3/4;
}
.menu-link ul{
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-link li{
  list-style: none;
  font-size: 1.2rem;
  
}
.menu-link ul li a{
  text-decoration: none;
  color: black;
  list-style: none;
  
}
.menu-link ul li:hover{
  transform: scale(1.1);
  transition: transform 0.12s ease-in; 
  text-decoration:overline;
  /* transition: 0.5s; */
}
.auth{
  margin-left: 0rem;
  justify-content: space-around;
}

/* -------------------------------------- */


.homeimg{
  width: 37%;
  margin-left: 28%;
}
@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');

.font_arvo {
  font-family: 'Arvo', serif;
  font-style: italic;
  font-weight: 400;
}
.slogan{
  margin-left: 27%;
}
.profileimg{
  width: 10%;
  /* margin-left: 5%; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: black;
}


.inputBox {
  display: block;
  margin: 25px;
  padding: 6px;
  width: 300px;
  border: 1px solid skyblue;
}
.register{
  margin-left: 30%;
}

.product{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-top: 30px;
}

.Product{
  margin-left: 30%;
  margin-top: -3.2rem;
}
.Producthead{
  margin-left: 22.5%;
  margin-bottom: 20px;
}

.adduphead{
  padding: 0.1rem;
  margin-bottom: 20px; 
}
.NotFound{
  display: flex;
  font-size: 3rem;
  margin-top: 3rem;
  justify-content: center;
}
.appbutton{
  margin-top: 20px;
  margin-left: 21.5%;
  padding: 10px;
  width: 100px;
  border: 1px solid;
  cursor: pointer;
}
.oButton{
  margin: 5px;
}
.scrollit {
  overflow:scroll;
  height:340px;
}


.SearchBox{
  margin-top: 0rem;
  margin-bottom: 1rem;
  
  margin-left: 230px;
}
.Profile{
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.invalidInput{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 25px;
}
.product-list{
  text-align: center;
  margin-top: -2rem;
}





/* //////////////////////////////// */

.store-table {
  text-align: center;
  padding: 5px;
}
.tableFixHead {
  margin-top: -0.5rem;
  width: 100%;
  border-collapse: collapse;
}

.tableFixHead tbody {
  display: block;
  overflow: auto;
  height: 110px;
}

.tableFixHead thead tr {
  display: block;
}

.tableFixHead th,
.tableFixHead td {
  
  padding: 5px;
  width: 400px;
  height: 100px;
}

th {

  position:static;
  
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}